{% extends 'base.html' %}
{% block title %} Blog | Home {% endblock %}
{% block content %}


<h2>Blog Post</h2>
<br/>
<ul>
{% for post in object_list %}
    <li>

        {% if user.is_authenticated %}
            <a href="{% url 'article-detail' post.pk %}">{{post.title}}</a>

        {% elif not is_authenticated %}
            <a href="{% url 'register' %}">{{post.title}}</a>

        {% endif %}

        - {{post.author}}<br />
        <p>Posted By : {{post.author.first_name}} {{post.author.last_name}}<br/>
            Contact : {{post.author.email}}</p>
        <!-- {{post.text }} -->
    </li>
    <pre>
    </pre>
{% endfor %}
</ul>



{% endblock %}