
{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<body>
    {% block content %}
    <center>
        <h1>Main Page</h1>
    </center>
    <pre>
        <center>
            <h5>Welcome to the Blog App</h5></center>
        <center><img
                src="https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="image" width="70%" height="40%" ></center>
        </pre>
    {% endblock %}
</body>

</html>